name: Publish package to PyPI

on:
    push:
        tags:
            - 'v*.*.*'  # バージョンタグにマッチするパターン

jobs:
    publish-testpypi:
        runs-on: ubuntu-latest
        permissions:
            id-token: write   # OIDCトークン発行に必要
            contents: read

        steps:
            - uses: actions/checkout@v4
            - uses: actions/setup-python@v5
              with:
                    python-version: '3.11.9'
            - run: pip install build
            - run: python -m build
            - uses: pypa/gh-action-pypi-publish@release/v1
              with:
                    repository-url: https://test.pypi.org/legacy/
    publish-pypi:
        runs-on: ubuntu-latest
        needs: publish-testpypi
        permissions:
            id-token: write   # OIDCトークン発行に必要
            contents: read
        steps:
            - uses: actions/checkout@v4
            - uses: actions/setup-python@v5
              with:
                python-version: '3.11.9'
            - run: pip install build
            - run: python -m build
            - uses: pypa/gh-action-pypi-publish@release/v1
              with:
                repository-url: https://upload.pypi.org/legacy/
